div {
    display: flex;
    padding: 16px;
    background-color: lightsalmon;
    color: black;
    font-size: larger;
    font-weight: 400;
}

mat-icon{
    transition: transform 0.3s ease-in-out;
    &:hover{
        transform: scale(1.3);
        cursor: pointer;
    }
}