
main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

html,
body {
  margin: 0;
  padding: 0;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.search-container {
  display: flex;
  justify-content: center;
}


.search-bar {
  width: 400px;
  background-color: #fff;
  border-radius: 8px;
}

mat-form-field {
  width: 100%;
  align-items: center;
}

mat-label {
  font-size: 14px;
}

button {
  background-color: #3f51b5;
  color: white;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #303f9f;
}

mat-icon {
  font-size: 24px;
}


.no-movie{
  width:100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
