<app-header></app-header>

<div class="search-container">
    <mat-form-field class="search-bar" appearance="fill">
        <mat-label>Search</mat-label>
        <input matInput type="text" class="searchTerm" (keyup)="searchMovie($event)" placeholder="What are you looking for?"/>
    </mat-form-field>
</div>

<main>
    @if (MovieList().length) {
    <app-moviecard [movies]="MovieList()"></app-moviecard>
    }
    @else {
    <div class="no-movie">
        <h1>🎬 Looking for the inside scoop on your next movie? 🕵️‍♂️🍿</h1>
        <p>Go ahead, search for the movie details...</p>
    </div>
    }
</main>